<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справочник по Vue.js</title>
    <link rel="stylesheet" href="styles/styles.css">
    
</head>

<body>
    <section class="intro">
        <div class="container">
            <div class="intro__inner">
                <div class="intro__item" >
                    <h1 class="intro__title">Учебник по <br> JavaScript-фреймворку Vue.js</h1>
                    <p class="intro__subtitle">Данный учебник содержит только базовую информацию, поэтому дальнейшее знакомство с фреймворком можно продолжить с помощью <a href="#!">официальной документации</a>. Она полностью переведена на русский язык, а также постоянно обновляется в соответствии с актуальной версией Vue.js. Также на <a href="#!">официальном сайте</a> доступны примеры веб-приложений, реализованных с помощью Vue.js.</p>
                </div>
                <div class="intro__item">
                    <nav class="nav">
                        <a href="#first" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn">
                            <span>Что такое Vue.js?</span>
                        </a>
                        <a href="#second" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-1s">
                            <span>События, атрибуты и методы</span>
                        </a>
                        <a href="#third" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-2s">
                            <span>Вычисляемые свойства</span>
                        </a>
                        <a href="#fourth" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-3s">
                            <span>Условия, списки и циклы</span>
                        </a>
                        <a href="#fifth" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-4s">
                            <span>Работа с фильтрами</span>
                        </a>
                        <a href="#sixth" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-5s">
                            <span>Работа с компонентами</span>
                        </a>
                        <a href="#seventh" class="nav__link">
                            <img src="img/nav_icon.svg" alt="navigation_icon" class="animate__animated animate__fadeIn animate__delay-1s">
                            <span>Работа с CSS</span>
                        </a>
                    </nav>
                </div>
            </div><!--intro__inner -->
            <a href="#first" class="intro__scrrollDown">
                <img src="img/mouse.svg" alt="scrollDown">
                <img src="img/mouse-arrows.svg" alt="scrollDown" class="animate__animated animate__fadeInDown animate__infinite">
            </a>
        </div><!--container -->
     </section> <!--intro -->

     <section class="main">
        <div class="container">
            <div class="accordion">

                <div class="contentBx active" id="first">
                    <div class="label">Что такое Vue.js?</div>
                    <div class="content">
                        <p><b>Vue</b> является одним из самых популярных JavaScript фреймворков. Фреймворк представляет собой заготовку, которая помогает вам писать код.</p>
                        <p><b>Как он это делает:</b> фреймворк заставляет вас следовать определенным соглашениям по написанию кода, в результате этого все ваши проекты становится проще разрабатывать, а самое главное - проще поддерживать в дальнейшем.</p>
                        <p>Фреймворки типа Vue используются для так называемых SPA (single page application - одностраничное приложение). Одностраничное приложение - это сайт, все действия в котором происходят на одной странице, без ее полного обновления.</p>
                        <p>Примером SPA может служить социальная сеть, работа с почтой и так далее.</p>
                        <p>Одним из ключевых моментов в работе Vue.js является виртуальный DOM. Структура веб-страницы, как правило, описывается с помощью DOM (Document Object Model), которая представляет организацию элементов html на странице. Для взаимодействия с DOM (добавления, изменения, удаления html-элементов) применяется JavaScript. Но когда мы пытаемся манипулировать html-элементами с помощью JavaScript, то мы можем столкнуться со снижением производительности, особенно при изменении большого количества элементов. А операции над элементами могут занять некоторое время, что неизбежно скажется на пользовательском опыте. Однако если бы мы работали из кода js с объектами JavaScript, то операции производились бы быстрее</p>
                        <p>Для этого Vue.js использует виртуальный DOM. Виртуальный DOM представляет легковесную копию обычного DOM. Если приложению нужно узнать информацию о состоянии элементов, то происходит обращение к виртуальному DOM. Если данные, которые используются в приложении Vue.js, изменяются, то изменения вначале вносятся в виртуальный DOM. Потом Vue выбирает минимальный набор компонентов, для которых надо выполнить изменения на веб-странице, чтобы реальный DOM соответствовал виртуальному. Благодаря виртуальному DOM повышается производительность приложения.</p>
                        <p>В отличие от React.js, jQuery, AngularJS и других фреймворков, Vue.js достаточно прост для изучения. Но, как и с другими JS-фреймворками, потребуются знания основ CSS, HTML и JavaScript, поэтому советуем сначала изучить их. В данной подборке мы расскажем о серии видеоуроков по Vue.js, которые помогут разобраться с основными элементами фреймворка.</p>
                        <p>Подключение описано на<a href="https://ru.vuejs.org/v2/guide/installation.html"> официальном сайте</a></p>
                        <p>Данный учебник только базовую информацию, поэтому дальнейшее знакомство с фреймворком можно продолжить с помощью <a href="https://ru.vuejs.org/v2/guide/">официальной документации</a>. Она полностью переведена на русский язык, а также постоянно обновляется в соответствии с актуальной версией Vue.js. Также на официальном сайте доступны <a href="https://ru.vuejs.org/v2/examples/index.html">примеры веб-приложений</a>, реализованных с помощью Vue.js.</p>
                    </div>
                </div>
                <div class="contentBx" id="second">
                    <div class="label">События, атрибуты и методы</div>
                    <div class="content">
                        <p>Настройка <span class="greened">-methods</span> - позволит нам хранить в себе набор функций, которые мы сможем навешивать на события. Во Vue эти функции более принято называть <b>методами</b>.</p>
                        <p>Итак, пусть у нас в <b>methods</b> лежит метод с названием <b>show</b>, который пока просто выводит на экран восклицательный знак:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    methods: {
        show: <att>function</att>() {
            <att>alert</att>('!');
        }
    }
});
</pre>
                        </div>
                       <p>Мы можем вызвать наш метод внутри фигурных скобок, подобно тому, как мы обращались к свойствам. В этом случае для метода следует поставить круглые скобки в конце:</p>
                       <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    {{ show() }}
<tag>&lt;/div&gt;</tag>
</pre>
                       </div>
                       <p>После запуска этого кода вы сразу же увидите алерт с восклицательным знаком. Почему алерт выводится сразу же - потому что мы пока не привязали наш метод ни к какому событию.</p>
                       <p>Давайте теперь выведем содержимое свойства <b>message</b> из <b>data</b>. Сделать это не так просто - в методах напрямую получить доступ к свойствам из <b>data</b> нельзя.</p>
                       <p>Однако, во Vue встроен следующий способ: мы можем обратиться к любому свойству из <b>data</b> с помощью <b>this</b>. То есть: если у нас есть свойство <b>message</b>, то внутри любого метода мы можем обратиться к нему так: <b>this.message</b>.</p>
                       <p>Давайте сделаем это:</p>
                       <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    methods: {
        show: <att>function</att>() {
            <att>alert</att>(<tag>this</tag><att>.message</att>);<comm>//выведет hello</comm>
        }
    }
});
</pre>
                       </div>
                       <p>Вызовем наш метод:</p>
                       <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    {{ show() }}
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>После запуска этого кода вы сразу же увидите алерт с текстом 'hello'.</p>
                        <p>Давайте теперь запустим наш метод по какому-нибудь событию.</p>
                        <p>Для того, чтобы навесить событие на какой-нибудь DOM элемент, во Vue есть следующая директива: <b>v-on:названиеСобытия.</b></p>
                        <p>Давайте, например, по клику на кнопку вызовем метод <b>show</b>. Для этого в тег <b>button</b> добавим атрибут <b>v-on:click</b> со значением <b>show</b>:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    <tag>&lt;button</tag> <att>v-on:click</att><tag>&gt;</tag>Нажми на меня<tag>&lt;/button&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Обратите внимание на то, что круглые скобки после названия метода не ставятся.</p>
                        <p>Давайте напишем реализацию метода <b>show</b>:</p>
                        <div class="code">
<pre>
methods: {
    show: <att>function</att>() {
        <att>alert</att>(<tag>this</tag><att>.message</att>);
    }
}
</pre>
                        </div>
                        <p>Ну, а теперь соберем все вместе, запустим и по нажатию на кнопку увидим текст сообщения:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    <tag>&lt;button</tag> <att>v-on:click</att><tag>&gt;</tag>Нажми на меня<tag>&lt;/button&gt;</tag>
<tag>&lt;/div&gt;</tag>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    methods: {
        show: <att>function</att>() {
            <att>alert</att>(<tag>this</tag><att>.message</att>);
        }
    }
});
</pre>
                        </div>
                        <p>Я думаю, что вы уже поняли, что с помощью v-on можно навешивать не только клики, но и другие события.</p>
                        <p><span class="greened">Задача 1:</span> Дана кнопка. В <b>data</b> дано свойство <b>text</b>, в котором хранится текст 'hello'. Сделайте так, чтобы по нажатию на кнопку алертом вывелся текст из свойства <b>text</b>.</p>
                        <p><span class="greened">Задача 2:</span> Дан инпут. Сделайте кнопку, нажатие на которую будет по очереди заблокировать и отблокировать наш инпут.</p>
                    </div>
                </div>
                <div class="contentBx" id="third">
                    <div class="label">Вычисляемые свойства</div>
                    <div class="content">
                        <p>Введем понятие вычисляемых свойств, выделяющихся в коде элемента ключевым словом <span class="greened">computed</span>. Они очень полезны, когда усложняется логика работы с данными, и встраиваемые в шаблоны выражения уже не помогут.</p>
                        <p>Пусть у нас есть свойство <b>message</b>, в котором хранится некоторая строка-сообщение. Давайте сделаем вычисляемое свойство <b>reversedMessage</b>, в котором будет хранится это же сообщение, но в перевернутом виде</p>
                        <p>Для начала давайте сделаем функцию, которая будет выполнять переворот свойства <b>message</b>:</p>
                        <div class="code">
<pre>
reversedMessage: <att>function</att>(){
    <tag>return this</tag>.<att>message.split</att>('').<att>reverse</att>().<att>join</att>('');
}
</pre>
                        </div>
                        <p>Разместим теперь нашу функцию в настройке <b>computed</b>, предназначенной для создания вычисляемых свойств:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        <comm>// Наше сообщение:</comm>
        message: <lin>'hello'</lin>,
    },
    computed: {
        <comm>// Перевернутое сообщение:</comm>
        reversedMessage: <att>function</att>(){
        <tag>return this</tag>.<att>message.split</att>('').<att>reverse</att>().<att>join</att>('');
        }
    }
});
</pre>
                        </div>
                        <p>То есть: обычные свойства хранятся в настройке <b>data</b> и представляют собой некоторые данные (числа, строки, массивы и тп), а вычисляемые свойства хранятся в настройке <b>computed</b> и представляют собой функции.</p>
                        <p>Давайте теперь посмотрим, как мы будем пользоваться нашими свойствами:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    <tag>&lt;p&gt;</tag>Изначальное сообщение: {{ message }}<tag>&lt;/p&gt;</tag>
    <tag>&lt;p&gt;</tag>Сообщение задом наперед: {{ reversedMessage }}<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Как вы видите, в шаблоне нет разницы между обычными свойствами и вычисляемыми. В этом особое удобство использования вычисляемых свойств.</p>
                        <p>Итак, давайте соберем весь код вместе и запустим:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    computed: {
        reversedMessage: <att>function</att>(){
        <tag>return this</tag>.<att>message.split</att>('').<att>reverse</att>().<att>join</att>('');
        }
    }
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"&gt;</lin>
    <tag>&lt;p&gt;</tag>Изначальное сообщение: {{ message }}<tag>&lt;/p&gt;</tag>
    <tag>&lt;p&gt;</tag>Сообщение задом наперед: {{ reversedMessage }}<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>После запуска кода в первый абзац выведется наше сообщение, а во второй - оно же, но в перевернутом виде.</p>
                        <p><span class="greened">Задача 1:</span> Пусть в <b>data</b> есть три cвойства: <b>name</b> (имя), <b>surname</b> (фамилия) и <b>patronymic</b> (отчество). Сделайте вычисляемое свойство <b>fullName</b>, которое будет содержать фамилию, имя и отчество, записанные через пробел.</p>
                    </div>
                </div>
                <div class="contentBx" id="fourth">
                    <div class="label">Условия списки и циклы</div>
                    <div class="content ">
                        <p class="content__title">Условия</p>
                        <p>Следующая директива, которую мы изучим, называется <b>v-if</b>. С ее помощью можно показывать или скрывать элементы.</p>
                        <p>Как эта директива работает: параметром она принимает любое свойство объекта <b>data</b>. Если это свойство имеет значение <b>true</b> - то элемент будет показан, а если <b>false</b> - то скрыт.</p>
                        <p>Если запустить следующий пример - абзац будет показан:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        show: <att>true</att>,
    },
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p</tag> <att>v-if=</att><lin>"show"</lin><tag>&gt;</tag>hello<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>А вот если show поставить в значение <b>false</b>, то абзац будет скрыт:</p>
                        <p><span class="greened">Задача 1:</span> Пусть в data хранится следующее:</p>
                        <div class="code">
<pre>
data: {
    showName: <att>true</att>,
    name: <lin>'Вася'</lin>
}
</pre>
                        </div>
                        <p>Выведите в абзаце значение свойства <b>name</b>. Покажите абзац, если свойство <b>showName</b> равно <b>true</b>, и скройте, если оно равно <b>false</b>.</p>
                        <p>Директива <b>v-if</b> может также работать в комплекте с<b> v-else</b>. Давайте посмотрим, как это выглядит на практике.</p>
                        <p>Пусть свойство <b>show</b> может принимать или <b>true</b> или <b>false</b>:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        show: <att>true</att>,<comm>// тут или true, или false</comm>
    },
});
</pre>
                        </div>
                        <p>Сделаем так, чтобы, если <b>show</b> равно <b>true</b>, то выводилось 'да', в противном случае - 'нет':</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p</tag> <att>v-if=</att><lin>"show"</lin><tag>&gt;</tag>да<tag>&lt;/p&gt;</tag>
    <tag>&lt;p</tag> <att>v-else</att><tag>&gt;</tag>нет<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Учтите, что<b> v-else</b> обязательно должен идти в комплекте с <b>v-if</b>.</p>
                        <p><span class="greened">Задача 2:</span> Пусть в <b>data</b> хранится следующее:</p>
                        <div class="code">
<pre>
data: {
    hello: <att>true</att>,
    name: <lin>'Вася'</lin>
}
</pre>
                        </div>
                        <p>С помощью свойства <b>name</b> выведите на экран 'Привет, Вася', если свойство <b>hello</b> равно <b>true</b> и 'Пока, Вася', если оно равно <b>false</b>. Для решения задачи сделайте два абзаца.</p>
                        <p>Вместо нескольких <b>v-if</b> можно использовать конструкции <b>v-else-if</b>:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p</tag> <att>v-if=</att><lin>"num == 1"</lin><tag>&gt;</tag>один<tag>&lt;/p&gt;</tag>
    <tag>&lt;p</tag> <att>v-else-if=</att><lin>"num == 2"</lin><tag>&gt;</tag>два<tag>&lt;/p&gt;</tag>
    <tag>&lt;p</tag> <att>v-else-if=</att><lin>"num == 3"</lin><tag>&gt;</tag>три<tag>&lt;/p&gt;</tag>
    <tag>&lt;p</tag> <att>v-else</att><tag>&gt;</tag>что-то другое<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p><span class="greened">Задача 3:</span> Пусть в <b>data</b> хранится следующее:</p>
                        <div class="code">
<pre>
data: {
    age: <att>25</att>,
}  
</pre>
                        </div>
                        <p>Если свойство <b>age</b> меньше 18 - выведите на экран 'подросток', если она от 19 до 25 - выведите на экран 'молодой человек', а если более 26 - выведите на экран 'мужчина'.</p>
                        <p class="content__title">Циклы</p>
                        <p>Пусть теперь в <b>data</b> у нас есть элемент <b>items</b>, который содержит внутри себя массив с некоторыми данными:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        items: [<lin>'a'</lin>,<lin>'b'</lin>,<lin>'c'</lin>,<lin>'d'</lin>,<lin>'e'</lin>],
    },
});
</pre>
                        </div>
                        <p>Давайте сделаем список <b>ul</b>, внутри которого разместим каждый элемент нашего массива <b>items</b> в отдельную <b>li</b>.</p>
                        <p>Очевидно, что нам нужен какой-то цикл, который сделает это за нас. Во Vue такой цикл делается следующим образом:<br> <b>&lt;li v-for="item in items"&gt;<b>.</p>
                        <p>Итого полный код для <b>li</b> будет выглядеть так:</p>
                        <div class="code">
<pre>
<tag>&lt;li</tag> <att>v-for=</att><lin>"item in items"</lin>&gt;{{ item }}<tag>&lt;/li&gt;</tag>
</pre>
                        </div>
                        <p>Давайте соберем все вместе и запустим:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        items: [<lin>'a'</lin>,<lin>'b'</lin>,<lin>'c'</lin>,<lin>'d'</lin>,<lin>'e'</lin>],
    },
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin><tag>&gt;</tag>    
    <tag>&lt;ul&gt;</tag>
	<tag>&lt;li</tag> <att>v-for=</att><lin>"item in items"</lin>&gt;{{ item }}<tag>&lt;/li&gt;</tag>
    <tag>&lt;/ul&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Итак, если у нас есть массив с данными, мы можем перебрать его в цикле и сформировать нужный нам HTML код прямо на лету.</p>
                        <p>Иногда кроме элементов массива, мы хотели бы получить доступ еще и к ключам. Для этого вместо <b>item in items</b> следует написать <b>(item, index) in items</b> - тогда в переменную <b>item</b> будут попадать элементы массива, а в <b>index</b> - их ключи. Вместо <b>index</b> вы можете использовать любое другое название, как вам удобно.</p>
                        <p>Циклом <b>v-for</b> можно перебирать не только массивы, но и объекты. Синтаксис полностью аналогичный.</p>
                        <p><span class="greened">Задача 4:</span> Пусть в <b>data</b> хранится следующий массив:</p>
                        <div class="code">
<pre>
data: {
    items: [<lin>1</lin>,<lin>2</lin>,<lin>3</lin>,<lin>4</lin>,<lin>5</lin>],
},
</pre>
                        </div>
                        <p>Выведите на экран элементы этого массива в виде списка <b>ul</b>.</p>
                    </div>
                </div>
                <div class="contentBx" id="fifth">
                    <div class="label">Работа с фильтрами</div>
                    <div class="content">
                        <p>Иногда бывает так, что при выводе данных мы хотим с ними-что-нибудь сделать.</p>
                        <p>Следующий способ для преобразования данных делается через <i>фильтры</i>. Давайте посмотрим, как ими пользоваться.</p>
                        <p>Пусть в свойстве <b>message</b> хранится какая-то строка, выведем ее на экран:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p&gt;</tag>{{ message }}<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Пусть теперь у нас есть фильтр с названием <b>capitalize</b>, который делает у строки первую букву заглавной. Реализацию этого фильтра мы должны будем сделать самостоятельно, но пусть пока считаем, что она уже есть. В этом случае фильтр будет применятся так: через вертикальную палочку | к нашему свойству <b>message</b>:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p&gt;</tag>{{ message | capitalize }}<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Давайте теперь напишем реализацию нашего фильтра <b>capitalize</b>. Он будет представлять собой функцию, которая параметром принимает строку, а возвращает эту же строку, но с заглавной первой буквой:</p>
                        <div class="code">
<pre>
<att>function</att>(<tag>str</tag>) {
    <tag>return</tag> <tag>str</tag>[0].<att>toUpperCase</att>() + <tag>str</tag>.<att>slice</att>(1);
}
</pre>
                        </div>
                        <p>Теперь нам необходимо зарегистрировать наш фильтр. Для этого его следует написать в настройку <b>filters</b> нашего объекта Vue. Давайте зарегистрируем нашу функцию под именем <b>capitalize</b>:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    filters: {
        <comm>// Регистрируем фильтр capitalize:</comm>
        capitalize: <att>function</att>(<tag>str</tag>) {
        <tag>return</tag> <tag>str</tag>[0].<att>toUpperCase</att>() + <tag>str</tag>.<att>slice</att>(1);
        }
    }
});
</pre>
                        </div>
                        <p>Все, им можно пользоваться. Давайте попробуем:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
<tag>&lt;p&gt;</tag>{{ message | capitalize }}<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        message: <lin>'hello'</lin>,
    },
    filters: {
        <comm>// Регистрируем фильтр capitalize:</comm>
        capitalize: <att>function</att>(<tag>str</tag>) {
        <tag>return</tag> <tag>str</tag>[0].<att>toUpperCase</att>() + <tag>str</tag>.<att>slice</att>(1);
        }
    }
});
</pre>
                        </div>
                        <p>Запустите этот код и содержимое свойства <b>message</b> выведется с заглавной первой буквой.</p>
                        <p>Фильтры можно объединять в цепочки. Пусть у нас есть фильтр <b>lowecase</b>, который переводит все буквы в нижний регистр и уже реализованный нами выше фильтр <b>capitalize</b>.</p>
                        <p>Пусть в свойстве <b>message</b> строка хранится в верхнем регистре, вот так: 'HELLO'. А мы хотели бы сделать из нее вот такую строку: 'Hello'. Применим вначале фильтр <b>lowercase</b> для преобразования всех букв в нижний регистр, а потом с помощью <b>capitalize</b> сделаем первую букву заглавной.</p>
                        <p><span class="greened">Задача 1:</span> Сделайте фильтр <b>uppercase</b>, который будет переводить всю строку в верхний регистр.</p>
                        <p><span class="greened">Задача 2:</span> Сделайте фильтр <b>formatDate</b>, который будет принимать параметром дату в формате 'год-месяц-день' и преобразовывать ее в формат 'день.месяц.год'.</p>
                    </div>
                </div>
                <div class="contentBx" id="sixth">
                    <div class="label">Работа с компонентами</div>
                    <div class="content">
                        <p>Если мы посмотрим на какой-нибудь сайт, то можем выделить на нем некоторые блоки: хедер, контент, сайдбар, футер.</p>
                        <p>При создании сайта на Vue мы также можем использовать такие независимые блоки. Они позволят нам лучше организовать наш код и упростят его дальнейшую поддержку.</p>
                        <p>Во Vue такие блоки называются <i>компонентами</i>. В крупных приложениях разделение на компоненты становится обязательным условием для сохранения управляемости процесса разработки</p>
                        <p>Итак, давайте приступим к изучению компонентов.</p>
                        <p>Во Vue компонент делается с помощью метода <b>Vue.component</b>. Этот метод первым параметром принимает название нашего компонента, а вторым - объект настроек:</p>
                        <div class="code">
<pre>
<tag>Vue</tag>.<att>component</att>(<lin>название_компонента</lin>, {
    <i>настройки</i>
});
</pre>
                        </div>
                        <p>Все компоненты следует создавать до команды <b>new Vue</b>. Давайте сделаем компонент с названием <b>my-component</b>:</p>
                        <div class="code">
<pre>
<tag>Vue</tag>.<att>component</att>(<lin>'my-component'</lin>, {
    <i>настройки</i>
});
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
</pre>
                        </div>
                        <p>Давайте теперь добавим настройки нашему компоненту. Первая и самая главная настройка - это <b>template</b>. С ее помощью мы должны задать HTML код, который будет результатом работы нашего компонента.</p>
                        <p>Давайте добавим эту настройку:</p>
                        <div class="code">
<pre>
<tag>Vue</tag>.<att>component</att>(<lin>'my-component'</lin>, {
    template: <lin>'&lt;div&gt;Пользовательский компонент!&lt;/div&gt;'</lin>,
});
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
</pre>
                        </div>
                        <p>Обратите внимание на то, что результат работы <b>Vue.component</b> мы никуда не записываем. Это и не нужно, ведь с помощью <b>Vue.component</b> просто происходит регистрация нового компонента. И после регистрации мы можем вставить этот компонент в любое место нашего HTML кода нашего Vue приложения.</p>
                        <p>Сейчас наше приложение Vue размещается в &lt;div id="app"&gt;. Наш компонент называется <b>my-component</b>. Мы можем вставить результат работы нашего компонента в любое место &lt;div id="app"&gt; следующим образом: &lt;<b>my-component</b>&gt;&lt;<b>/my-component</b>&gt; - то есть каждому компоненту соответствует тег с таким же названием. Сделайте это самостоятельно. В результате выполнения этого кода вместо тега компонента &lt;<b>my-component</b>&gt;&lt;<b>/my-component</b>&gt; подставится результат работы этого компонента, то есть содержимое его настройки <b>template</b>.</p>
                        <p>Результат будет таким:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;div <att>class=</att><lin>"task"</lin>&gt;</tag>Пользовательский компонент!<tag>&lt;/div&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Сейчас у нас есть основной компонент, который мы создали с помощью <b>new Vue</b> и дочерний компонент <b>my-component</b>.</p>
                        <p>Как вы хорошо знаете, у основного компонента есть настройка <b>data</b>, внутри которой хранятся данные. Однако, наш дочерний компонент <b>my-component</b> не имеет доступа к этим данным - и это правильно: родительский компонент должен четко сказать, какие данные он хочет передать дочернему, а какие - нет.</p>
                        <p>Давайте передадим данные в наш компонент <b>my-component</b>. Пусть, к примеру, у нас есть имя 'Вася'. Передадим это имя в компонент так, чтобы к нему можно было обратиться внутри нашего компонента через фигурные скобки, вот так: <b>{{ name }}</b>.</p>
                        <p>Сделаем это:</p>
                        <div class="code">
<pre>
<tag>Vue</tag>.<att>component</att>(<lin>'my-component'</lin>, {
    template: <lin>'&lt;div&gt;Привет, {{ name }}!&lt;/div&gt;'</lin>,
});
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
</pre>
                        </div>
                        <p>Однако, просто написать атрибут мало. Внутри самого компонента мы должны сказать о том, что снаружи ожидается передача данных.</p>
                        <p>Это делается с помощью настройки <b>props</b>, внутри которой следует писать названия атрибутов, с помощью которых разрешено передавать данные в компонент.</p>
                        <p>Атрибуты пишутся в виде массива. У нас пока есть только один атрибут – <b>name</b>.</p>
                        <p>Пришло время собрать все вместе и запустить. Сделаем это:</p>
                        <div class="code">
<pre>
<tag>Vue</tag>.<att>component</att>(<lin>'my-component'</lin>, {
    props: [<lin>'name'</lin>],
    template: <lin>'&lt;div&gt;Привет, {{ name }}!&lt;/div&gt;'</lin>,
});
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;my-component&gt;</tag> <att>name=</att><lin>"Вася"</lin><tag>&lt;/my-component&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>                            
                        </div>
                        <p>Результатом выполнения этого кода будет следующий HTML:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;div</tag> <att>class=</att><lin>"task"</lin>&gt;</tag>Привет, Вася!<tag>&lt;/div&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Изучите все страницы из раздела <a href="https://ru.vuejs.org/v2/guide/components.html ">документации</a> с названием <a href="https://ru.vuejs.org/v2/guide/components.html ">Основы компонентов</a>.</p>
                    </div>
                </div>
                <div class="contentBx" id="seventh">
                    <div class="label">Работа с CSS</div>
                    <div class="content">
                        <p class="content__title">Классы</p>
                        <p>Работа с атрибутом <b>class</b> происходит аналогичным образом - через <b>v-bind</b>. Но есть нюансы. Давайте разбираться.</p>
                        <p>Пусть в свойстве <b>str</b> хранится какой-то класс. Добавим его нашему абзацу:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        str: <lin>'www'</lin>,
    },
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:class=</att><lin>"str"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Результатом этого кода будет следующий HTML:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>class=</att><lin>"str"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Также может быть такое, что в <b>str</b> хранится несколько классов, тут тоже проблемы с добавлением не будет, поэтому сделайте это самостоятельно и запустите.</p>
                        <p>Результатом этого кода будет следующий HTML:</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>class=</att><lin>"www ggg zzz"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Давайте сделаем так, чтобы класс, в зависимости от значения какого-либо свойства или добавлялся в элемент, или не добавлялся.</p>
                        <p>Пусть у нас есть свойство <b>isActive</b>, которое может принимать или <b>true</b>, или <b>false</b>.</p>
                        <p>Давайте сделаем так, чтобы если <b>isActive</b> равно <b>true</b> - у нашего абзаца был класс <b>active</b>, а если <b>false</b> - то не был. Для этого в <b>v-bind:class</b> напишем объект, в котором ключом будет желаемый класс (в нашем случае <b>active</b>), а значением - свойство, в зависимости от которого этот класс будет добавлен нашему абзацу или не будет (в нашем случае это свойство <b>isActive</b>):</p>
                        <div class="code">
<pre>
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:class=</att><lin>"{active: isActive}"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>
</pre>
                        </div>
                        <p>Давайте соберем все вместе и запустим:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
        isActive: <att>true</att>,
    },
});    
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:class=</att><lin>"{active: isActive}"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag>    
</pre>
                        </div>
                        <p>Можно также добавить несколько классов. В этом случае значением <b>v-bind:class</b> должен служить объект с ключами и значениями. Имена желаемых классов должны быть ключами нашего объекта, а соответсвующие значения - свойствами объекта <b>data</b>. Сделайте это самостоятельно.</p>
                        <p><span class="greened">Задача 1:</span> Дан абзац. Дано свойство <b>isValid</b> и свойство <b>isDone</b>. Если свойство <b>isValid</b> имеет значение <b>true</b> - добавьте абзацу класс <b>valid</b>. Если свойство <b>isDone</b> имеет значение <b>true</b> - добавьте абзацу класс <b>task-done</b>.</p>
                        <p class="content__title">Стили</p>
                        <p>Давайте теперь научимся работать напрямую с CSS стилями через атрибут <b>style</b>. Работа со стилями происходит следующим образом: в атрибут <b>v-bind:style</b> передается объект, в котором желаемые CSS свойства должны быть ключами этого объекта, а соответствующие значения CSS свойств - значениями этого объекта.</p>
                        <p>Давайте для примера покрасим какой-нибудь абзац в красный цвет и добавим границу зеленого цвета:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:style=</att><lin>"{color: 'red', border: '1px solid green'}"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag> 
</pre>
                        </div>
                        <p>Давайте теперь вместо границы установим ему <b>font-size</b> в <b>30px</b>. Так как в объекте не может быть ключа с дефисом, мы должны взять его в кавычки:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:style=</att><lin>"{color: 'red', 'font-size': '30px'}"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag> 
</pre>
                        </div>
                        <p>Значения CSS свойств могут также браться из свойств объекта <b>data</b>.</p>
                        <p>Можно также само свойство задать без указания единиц (то есть без 'px'), а добавить эти единицы потом в самом атрибуте <b>v-bind:style</b>.</p>
                        <p>Объект со стилями не обязательно хранить значением атрибута <b>v-bind:style</b>, можно вынести его в <b>data</b>:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
	styles: {
		color: <lin>'red',</lin>
		fontSize: <lin>'20px',</lin>
	}
    },
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:style=</att><lin>"styles"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag> 
</pre>
                        </div>
                        <p>Можно одновременно смешивать стили из нескольких свойств. Пусть у нас есть два свойства объекта <b>data</b> - <b>styles1</b> и <b>styles2</b>:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
	styles1: {
		color: <lin>'red',</lin>
		fontSize: <lin>'20px',</lin>
        },
        styles2: {
            border: <lin>'1px solid red'</lin>,
        }
    },
});
</pre>
                        </div>
                        <p>Мы можем привязать к нашему абзацу одновременно стили и из <b>styles1</b>, и из <b>styles2</b>.</p>
                        <p>Давайте запустим:</p>
                        <div class="code">
<pre>
<tag>let</tag> app = <tag>new</tag> <att>Vue</att>({
    el: <lin>'#app'</lin>,
    data: {
	styles1: {
		color: <lin>'red',</lin>
		fontSize: <lin>'20px',</lin>
        },
        styles2: {
            border: <lin>'1px solid red'</lin>,
        }
    },
});
<tag>&lt;div</tag> <att>id=</att><lin>"app"</lin>&gt;</tag>
    <tag>&lt;p <att>v-bind:style=</att><lin>"[styles1,styles2]"</lin>&gt;</tag>Абзац<tag>&lt;/p&gt;</tag>
<tag>&lt;/div&gt;</tag> 
</pre>
                        </div>
                        <p><span class="greened">Задача 3:</span> Дан чекбокс. Дан абзац. Сделайте следующее: если чекбокс отмечен - абзац должен быть красного цвета, а если не отмечен - то черного.</p>
                    </div>
                </div>
            </div><!--accordion -->
        </div><!--container -->
     </section><!--main -->

     <footer class="footer">
        <div class="container">
            <a href="#">Учебник по Vue.js</a>
            <span>Copyright © Anastasia Erokhina 2020</span>
        </div><!--container -->
     </footer><!--footer -->

     <script src="js/script.js"></script>
     
   </div>
</body>
</html>