$mainColor     :#34495E;

//accordion colors
$mainBG        :#788592;
$blockBG       :#C4C4C4;
$accBG         :linear-gradient(180deg, rgba(196, 196, 196, 0.8) 0%, rgba(120, 133, 146, 0.8) 100%);
$titleColor    :#636E79;
$textColor     :#4B535B;
$linkColor     :#67F0B2;

//code colors
$codeBG        :#E7E9E8;
$codeTagColor  :#137BE3;
$codeAttColor  :#F83232;
$codeLinkColor :#99846B;
$codeCommColor :rgba(75, 83, 91, 0.58);


//footer colors
$footerBG      :#59636C;
