.intro{
    width: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    Color:$mainColor;
    background: linear-gradient(180deg, rgba(0, 255, 25, 0.3) 0%, 
    rgba(24, 170, 58, 0.52) 48.44%, rgba(52, 73, 94, 0.62) 100%), 
    url('../img/bg-logo.svg') -198px 0px/1510px 1350px no-repeat;
    
    &__inner{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    &__item{
        width: 50%;
    }
    &__title{
        font-weight: bold;
        font-size: 36px;
        text-align: center;
    }
    &__subtitle{
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        text-align: justify;
    }
}
